<form [formGroup]="userFormEdit" class="p-4 gap-4 grid">
    <ng-container formGroupName="generalInformations">
        <div class="gap-4 grid lg:grid-cols-3">
            <mat-form-field class="w-full">
                <mat-label>Nome: </mat-label>
                <input matInput placeholder="Fulano da Silva" formControlName="name" />
                <mat-error>O nome é <strong>OBRIGATÓRIO</strong>!</mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>E-mail: </mat-label>
                <input matInput placeholder="fulano@email.com" formControlName="email" />
                <mat-error
                    *ngIf="emailControl.hasError('required')">
                    O e-mail é <strong>OBRIGATÓRIO</strong>!
                </mat-error>
                
                <mat-error
                    *ngIf="emailControl.hasError('pattern')">
                    O e-mail é <strong>INVÁLIDO</strong>!      </mat-error>
            </mat-form-field>
        </div>
        <div class="gap-4 grid lg:grid-cols-3">
            <mat-form-field class="w-full">
                <mat-label>País</mat-label>
                <input 
                    type="text" 
                    placeholder="Brazil" 
                    matInput 
                    [matAutocomplete]="autoCountry"
                    formControlName="country">
                <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="onCountrySelected($event)">
                    <mat-option *ngFor="let country of countriesListFiltered" [value]="country.name">{{ country.name }}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Estado</mat-label>
                <input 
                    type="text" 
                    placeholder="São Paulo" 
                    matInput 
                    [matAutocomplete]="autoState"
                    formControlName="state">
                <mat-autocomplete #autoState="matAutocomplete" (optionSelected)="onStateSelected($event)">
                    <mat-option *ngFor="let state of statesListFiltered" [value]="state.name">{{ state.name }}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="gap-4 grid lg:grid-cols-3">
            <div class="w-full">
                <div class="text-lg">Estado Civil: </div>
                <mat-radio-group 
                    class="w-full flex flex-col md:flex-row sm:justify-between" 
                    formControlName="maritalStatus">

                    <mat-radio-button
                        *ngFor="let status of maritalStatusArray"
                        [value]="status.code"> {{ status.description}}
                    </mat-radio-button>
                    
                </mat-radio-group>
            </div>
            <mat-form-field class="w-full">
                <mat-label>Renda Mensal: </mat-label>
                <span matTextPrefix *ngIf="monthlyIncome.value">R$</span>
                <input #monthlyIncome matInput placeholder="R$ 5000,00" formControlName="monthlyIncome" mask="separator.2" thousandSeparator="." decimalSeparator=","/>
                <mat-error>A Renda Mensal é <strong>OBRIGATÓRIA</strong>!</mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDate" readonly>
                <mat-hint>DD/MM/AAAA</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>A Data de Nascimento é <strong>OBRIGATÓRIA</strong>!</mat-error>
            </mat-form-field>
        </div>
    </ng-container>
</form>