<div class="p-4 ">
    <div class="p-4  grid md:grid-cols-3 gap-4">
        <app-user-info-item title="Nome" [text]="userCGeneral.name"></app-user-info-item>
        <app-user-info-item title="E-mail" [text]="userCGeneral.email"></app-user-info-item>
    </div>

    <div class="p-4  grid md:grid-cols-3 gap-4">
        <app-user-info-item title="País" [text]="userCGeneral.country"></app-user-info-item>
        <app-user-info-item title="Estado" [text]="userCGeneral.state"></app-user-info-item>
    </div>

    <div class="p-4  grid md:grid-cols-3 gap-4">
        <app-user-info-item title="Estado Civil" [text]="userCGeneral.maritalStatus | maritalStatus"></app-user-info-item>
        <app-user-info-item title="Renda Mensal" [text]="userCGeneral.monthlyIncome | currency:'EUR':'symbol':'1.2-2':'pt-PT'"></app-user-info-item>
        <app-user-info-item title="Data de Nascimento" [text]="userCGeneral.birthDate"></app-user-info-item>
    </div>
</div>