<mat-tab-group [(selectedIndex)]="currentTabIndex">
    <mat-tab label="GERAL">
        <app-general-informations 
            *ngIf="userSelectedInformationContainerC"
            [userCGeneral]="userSelectedInformationContainerC"></app-general-informations>
        <app-general-informations-edit 
            [userFormEdit]="userFormController"
            [countriesListEdit]="countriesList"
            [statesListEdit]="StatesListContainerC"
            (onCountrySelectedEmitt)="onCountrySelected($event)"></app-general-informations-edit>
    </mat-tab>
    <mat-tab label="CONTATO">
        <app-contact-information *ngIf="userSelectedInformationContainerC"
            [userContactInformationC]="userSelectedInformationContainerC"></app-contact-information>
        <app-contact-informations-edit></app-contact-informations-edit>
    </mat-tab>
    <mat-tab label="DEPENDENTES">
        <app-dependents-list
            *ngIf="userSelectedInformationContainerC && userSelectedInformationContainerC?.dependentsList"
            [userDependentsListC]="userSelectedInformationContainerC.dependentsList">
        </app-dependents-list>
        <app-dependents-list-edit></app-dependents-list-edit>
    </mat-tab>
</mat-tab-group>