<div class="p-4 max-w-screen-xl mx-auto">
    <mat-card>
        <mat-card-content>
            <div class="p-4">
                <app-users-list [usersListUserC]="usersListAppC"
                    (onUserSelectedEmitt)="onUserSelectedAppC($event)"></app-users-list>
            </div>
            <div class="p-4">
                <mat-tab-group [(selectedIndex)]="currentTabIndex">
                    <mat-tab label="GERAL">
                        <app-general-informations 
                            *ngIf="usersListAppC.length > 0"
                            [userCGeneral]="userSelected"></app-general-informations>
                    </mat-tab>
                    <mat-tab label="CONTATO">
                        <app-contact-information 
                            *ngIf="usersListAppC.length > 0"
                            [userContactInformationC]="userSelected"></app-contact-information>
                    </mat-tab>
                    <mat-tab label="DEPENDENTES">
                        <app-dependents-list 
                            *ngIf="usersListAppC.length > 0 && userSelected?.dependentsList"
                            [userDependentsListC]="userSelected.dependentsList">
                        </app-dependents-list> </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card-content>
    </mat-card>
</div>